SECRET_KEY='super_secret_key'
DJANGO_ALLOWED_HOSTS='localhost 127.0.0.1 [::1] 0.0.0.0'
DEBUG=1
HEROKU_DEPLOY=0


X_API_KEY='some_secret_key' 
NUMBER_API_GET_FACT='http://numbersapi.com/{month}/{day}/date'

SQL_ENGINE=django.db.backends.postgresql
SQL_HOST=db
SQL_PORT=5432

POSTGRES_DB=hello_django_dev
POSTGRES_USER=hello_django
POSTGRES_PASSWORD=hello_django
